{%  extends "challengeLBundle::layout.html.twig" %}
{% block index %}
    <div class="col-lg-12 text-center">

        <div class="row text-center">
        {% for formule in formules %}
            <div class="col-md-3 ">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">

                        <img  id="img-form" class="media-object" src="{{ formule.game.image.url }}">
                        <h3 class="text-blue">{{ formule.name }}</h3>
                    </div>

                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-sitemap"></i> {{ formule.game.name }}</li>
                        <li class="list-group-item"><i class="fa fa-cogs"></i> {{ formule.lobby.name }}</li>
                        <li class="list-group-item"> {{ formule.lobby.description }}</li>
                    </ul>
                    <div class="panel-body text-center">
                        <p><strong>{{ formule.prix }} €</strong></p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="{{ path('challenge_payment_paypal',{'id': formule.id}) }}">Acheter!</a>
                    </div>
                </div>
            </div>

            {% endfor %}</div>
            <div class="row">
                <B>

            <h1><font color="gold"><B>Important</B></font></h1>
                    Pour que vos achats soient correctement r&eacutealis&eacutees, merci d'indiquer dans "Objectif"<BR> de la transaction votre adresse email du PSN ainsi que votre mot de passe.
                    <BR>Votre achat vous sera distribuer dans un d&eacutelais de 24 heures maximum !
                    <h1><font color="gold"><B>D&eacutetails de nos produits</B></font></h1>

                    -Les lobby sont des extensions dans le jeux pr&eacutesent&eacutes sous forme de menus activable par le code L1 + R3.
                    Ils vous procurent de multiples avantages non n&eacutegligeable par rapport &agrave vos adversaire !
                    (Le lobby &agrave 8,85 euro contient aussi le lobby "stats"; profitez-en !)
                    <BR><BR>
                    -Les lobby " stats " modifient simplement vos statistiques de jeux, mais ne vous sont aucunement
                    b&eacuten&eacutefiques durant les parties.
                    <BR><BR>
                    -Le pack Premium contient les lobby black ops 2, advanced warfare, ainsi que les statistiques black ops 2 et advanced warfare !
            </div>
        </B>
    </div>
{% endblock %}