{% trans_default_domain 'FOSUserBundle' %}
<div class="col-lg-5 col-lg-offset-1">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-group">

    {{ form_label(form.current_password,"Mot de passe actuel",{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.current_password) is empty %}
        <div class="form-group ">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.current_password,{ 'attr' :{'class':'form-control'}}) }}
            </div>
        </div>
    {% else %}
        {{ form_errors(form.current_passworde) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.current_password,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
    {% endif %}
    {{ form_label(form.plainPassword.first,"Nouveau Mot de passe",{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.plainPassword.first) is empty %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.plainPassword.first,{ 'attr' :{'class':'form-control'}}) }}
            </div>

        </div>
        {{ form_label(form.plainPassword.second,"Mot de passe comfirmation",{ 'label_attr' :{'class':'control-label'}}) }}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.plainPassword.second,{ 'attr' :{'class':'form-control'}}) }}
            </div>
        </div>
    {% else %}
        {{ form_errors(form.plainPassword.first) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.plainPassword.first,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

        </div>
        {{ form_label(form.plainPassword.second,"Mot de passe comfirmation",{ 'label_attr' :{'class':'control-label'}}) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.plainPassword.second,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
    {% endif %}
    {{ form_rest(form) }}
    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <button class="btn-success btn btn-lg btn-block" type="submit" ><i class="fa fa-bolt"></i>  Changer de mot de passe</button>
        </div>
        <div class="col-lg-3"></div>

    </div>
</form>
</div>