<li><a href="{{ path('fos_user_security_logout') }}" class="btn   btn-danger navbar-btn" >Deconnexion</a></li>
<li>
    <div class="btn-group">
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-info ">Mon compte</a>
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Mon compte</li>
            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> Paramètres</a></li>
            <li><a href="{{ path('user_lobby_acheter') }}"><span class="glyphicon glyphicon-screenshot"></span> Mes derniers lobby</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> Mes messages</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('user_lobyenattente') }}"><span class="glyphicon glyphicon-screenshot"></span>Lobby en attente <span class="badge">{{ lobbyenattente }}</span></a></li>
            {% else %}
            {% endif %}

        </ul>
    </div>
</li>