{%  extends "::layout.html.twig" %}
{% block header %}
    <div id="header" class="jumbotron">
        <h1 class="text-center">Avis laissé par des Acheteur</h1>

    </div>
{% endblock %}

{% block body %}
<div class="row">
    {% block comments %}

        {%  for order in orders %}

        <div class="col-md-8 col-md-offset-2 text-center">

            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{{ asset(order.user.image.webPath) }}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ order.formule.name }}</h4>
                        <p  class="text-right">Par : <a href="{{ path('user_show_profile',{'id':order.user.id}) }}">{{ order.user.username }} </a></p>
                        <p>{{ order.avis.content }}</p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> {{  order.date|date('d/m/Y à H:i:s')  }} </span></li>
                            <li>|</li>
                            <span><i class="fa fa-television"></i> {{ order.formule.game.name }}</span>
                            <li>|</li>
                            <li>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </li>
                            <li>|</li>
                            <li>
                                <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                <a href="#"> <span><i class="fa fa-facebook-square"></i></span></a>
                                <span><i class="fa fa-twitter-square"></i></span>
                                <span><i class="fa fa-google-plus-square"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
            {% endfor %}


        {% endblock %}</div>
    <div class="row">
    {%  block form %}

         {% endblock %}
</div>
{% endblock %}