{% trans_default_domain 'FOSUserBundle' %}
<div class="col-lg-4 col-lg-offset-1">
<form   action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-group">

    {{ form_label(form.username,"Nom d'utilisateur",{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.username) is empty %}
        <div class="form-group ">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                {{ form_widget(form.username,{ 'attr' :{'class':'form-control'}}) }}
            </div>
        </div>
    {% else %}
        {{ form_errors(form.username) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                {{ form_widget(form.username,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
    {% endif %}
    {{ form_label(form.email,'Adresse email',{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.email) is empty %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">@</span>

                {{ form_widget(form.email,{ 'attr' :{'class':'form-control'}}) }}
            </div>
        </div>
    {% else %}
        {{ form_errors(form.email) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon">@</span>

                {{ form_widget(form.email,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
    {% endif %}
    {{ form_label(form.psn,'Email psn',{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.psn) is empty %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>

                {{ form_widget(form.psn,{ 'attr' :{'class':'form-control'}}) }}
            </div>
        </div>
    {% else %}
        {{ form_errors(form.psn) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>

                {{ form_widget(form.psn,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
    {% endif %}
    {{ form_label(form.psnpassword,"Mot de passe Psn",{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.psnpassword) is empty %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.psnpassword,{ 'attr' :{'class':'form-control'}}) }}
            </div>

        </div>
    {% else %}
        {{ form_errors(form.psnpassword) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.psnpassword,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

        </div>

    {% endif %}
    {{ form_label(form.current_password,"Mot de passe actuel",{ 'label_attr' :{'class':'control-label'}}) }}
    {% if form_errors(form.current_password) is empty %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.current_password,{ 'attr' :{'class':'form-control'}}) }}
            </div>

        </div>
    {% else %}
        {{ form_errors(form.current_password) }}
        <div class="form-group has-error has-feedback ">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form_widget(form.current_password,{ 'attr' :{'class':'form-control'}}) }}
            </div>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

        </div>

    {% endif %}
    {{ form_rest(form) }}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <button class="btn-success btn btn-lg" type="submit" ><i class="fa fa-bolt"></i>  Mettre à jour</button>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
    </div>
</form>
</div>