{% trans_default_domain 'FOSUserBundle' %}



    <div class="col-lg-8">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>Pseudo psn: {{ user.psn }}</p>
    </div>


